<p style="color: green"><%= notice %></p>
<%= render @book %>
<% @comments.each do |comment| %>
  <%= render comment %>
  <p>
    <%= link_to "Show this comment", comment %>
  </p>
<% end %>
<% if user_signed_in? %>
  <%= render "add_new_comment" %>
<% else %>
  <div>
    <h2>Bitte einloggen um Kommentar zu verfassen</h2>
  </div>
<% end %>
<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Zu den Subkategorien", subcategories_path %>
  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
